<robot name="iw_4">
  <link name="iw_4">
     <inertial>
      <origin xyz="3.6 6.05 0" rpy="0 0 1.57" /> 
      <mass value="10.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="3.6 6.05 0" rpy="0 0 1.57" /> 
      <geometry>
        <box size="2.1 0.2 4" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="3.6 6.05 0" rpy="0 0 1.57" /> 
      <geometry>
       <box size="2.1 0.2 4" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="iw_4">
    <material>Gazebo/White</material>
</robot>
